

$lightColor: #f08080;
$black: #333;
$white: #fff;

// A map of breakpoints.
$breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 767px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
);

// Respond above.
@mixin above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Respond below.
@mixin below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


// general image related classes
.imgResponsive {
  max-width: 100%;
  height: auto;
}
.imgFullWidth {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 120px 0;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #eee;
}

.hugeTitle {
  width: 100%;
  margin: 48px 0;
  font-size: 32px;
  color: $lightColor;
  text-align: center;

  @include above(md) {
    margin: 144px 0;
    font-size: 64px;
  }
}

// mainConversion
.mainConversion {
  display: grid;
  width: 100vw;
  height: auto;
  padding: 0 24px;
  margin-top: 60px;

  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
  grid-gap: auto;
  align-items: center;
  @include above(lg) {
    padding: 0;

    grid-gap: 32px;
  }


  &:first-child {
    margin-top: 0;
  }

  &__content {
    grid-column: 1 / 13;
    @include above(lg) {
      grid-column: 3 / 6;
    }
  }
  &__image {
    margin-top: 48px;

    grid-column: 1 / 13;
    @include above(lg) {
      margin-top: 0;

      grid-column: 7 / 13;
    }
  }

  &--reverse {
    .mainConversion__content {
      grid-column: 1 / 13;
      @include above(lg) {
        grid-column: 6 / 11;
      }
    }
    .mainConversion__image {
      grid-column: 1 / 13;
      @include above(lg) {
        grid-column: 3 / 6;
      }
    }
  }

  // .content
  .content {
    // mainConversion__title
    &__title {
      margin-top: 0;
      font-size: 24px;

      @include above(lg) {
        font-size: 32px;
      }

      // mainConversion__title--lightColor
      &--lightColor {
        color: $lightColor;
      }
    }

    // mainConversion__text
    &__text {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: $black;

      @include above(lg) {
        font-size: 16px;
      }
    }

    // mainConversion__cta
    &__cta {
      height: 44px;
      padding: 0 32px;
      margin-top: 24px;
      color: $white;
      background: $black;
      border: 1px solid $black;
      outline: 0;
      transition: .3s ease-in-out;

      // mainConversion__cta:hover
      &:hover {
        color: $black;
        background: $white;
        border: 1px solid $white;
      }

      // mainConversion__cta--lightColor
      &--lightColor {
        background: $lightColor;
        border: 1px solid $lightColor;
        &:hover {
          color: $lightColor;
        }
      }
    }
  }


  // mainConversion__image
  &__image {
    width: 100%;
    height: auto;
  }
}


/* Flexbox Section ( called section just for testing ) */
.section {
  display: flex;
  padding: 0 24px;
  margin-top: 60px;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include above(sm) {
    padding: 0 48px;
  }
  @include above(md) {
    padding: 0 72px;
  }
  @include above(xxl) {
    padding: 0 0 0 300px;
  }
  &:first-child {
    margin-top: 0;
  }

  &__content {
    flex-basis: 100%;
    @include above(lg) {
      padding: 0 10% 0 0;

      flex-basis: 50%;
    }
  }
  &__image {
    margin-top: 48px;

    flex-basis: 100%;
    @include above(lg) {
      margin-top: 0;

      flex-basis: 50%;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
    .section__content {
      @include above(lg) {
        padding: 0 0 0 24px;
      }
    }
    .section__image {
      flex-basis: 100%;
      @include above(lg) {
        flex-basis: 30%;
      }
    }
  }

  .content {
    &__title {
      margin-top: 0;
      font-size: 24px;

      @include above(lg) {
        font-size: 32px;
      }

      &--lightColor {
        color: $lightColor;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: $black;

      @include above(lg) {
        font-size: 16px;
      }
    }

    &__cta {
      height: 44px;
      padding: 0 32px;
      margin-top: 24px;
      color: $white;
      background: $black;
      border: 1px solid $black;
      outline: 0;
      transition: .3s ease-in-out;

      &:hover {
        color: $black;
        background: $white;
        border: 1px solid $white;
      }

      &--lightColor {
        background: $lightColor;
        border: 1px solid $lightColor;
        &:hover {
          color: $lightColor;
        }
      }
    }
  }
}
