@import "variables";
@import "mediaQueries";
@import "component";
@import "componentVariable";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0; 
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// general image related classes
.imgResponsive {
  max-width: 100%;
  height: auto;
}

.imgFullWidth {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}



