@import "variables";
@import "mediaQueries";
@import "mainConversion";
@import "componentVariable";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0; 
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// general image related classes
.imgResponsive {
  max-width: 100%;
  height: auto;
}

.imgFullWidth {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.container {
  max-width: 800px;
  margin: auto;
  &__el {
    width: 200px;
    height: 120px;
    background-color: red;
    margin:12px;
    &--bgGreen {
      background-color:green;
    }
  }
}


